<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Welcome Flask API</title>
</head>
<body>
{% include "navigation.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row">
    <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
            {{message}}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}
{% if current_user.is_active %}
<h2>Welcome! {{ current_user.username }}</h2>
{% else %}
<br>
{% endif %}

<div class="container-fluid h-100 text-dark">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>